@font-face {
  font-family: '霞鹜臻楷';
  font-style: normal;
  src: local('霞鹜臻楷');
  line-height: 1.6;
}

/* 全局属性 */
:root{
  --bg-color: #F6F8EC;                    /*change background*/
  --text-color: #333333;                  /*change text color*/
  --md-char-color: #C7C5C5;               /*change color of meta characters like `*` in markdown*/
  --meta-content-color: #5B808D;          /*change color of meta contents like image text or link address in markdown*/

  --primary-color: #428BCA;               /*color of primary buttons*/
  --primary-btn-border-color: #285E8E;
  --primary-btn-text-color: #FFF;

  --window-border: 1px solid #EEE;        /*border for sidebar, etc*/

  --active-file-bg-color: #ECF6F2;        /*background color if list item in file tree or file list*/
  --active-file-text-color: #202020;
  --active-file-border-color: #6B6B6B;

  --table-head-color: #D9EDE5;
  --table-even-row-color: #F8FCFA;
  --deep-theme-color: #4EB289;
  /* --code-block-bg-color: #303848; */
  --code-block-bg-color: #F0F0E6;

  --side-bar-bg-color: #EAEAE0;           /*change background of sidebar*/
  --item-hover-bg-color: rgba(229, 229, 229, 0.59); /*background of control items when hover, like menu in sidebar*/
  --item-hover-text-color: inherit;
  --monospace: monospace;                 /*monospace font for codes, fences*/

  /* code theme */
  --code-norm: #505050;
  --code-gray: #BEBEC8;
  --code-red: #F0465A;
  --code-orange: #F09646;
  --code-yellow: #3CD2D2; /* actually cyan */
  --code-green: #32D21E;
  --code-cyan: #BEC828; /* actually yellow */
  --code-blue: #46A0F0;
  --code-purple: #965AF0;
}


/* 选中的文字 */
::selection {
  background: #B482D2;
  color: white
}
::-moz-selection {
  background: #B482D2;
  color: white
}
::-webkit-selection {
  background: #B482D2;
  color: white
}

body {
  background-color: var(--bg-color);
  font-family: '霞鹜臻楷';
  font-size: 19px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0;
  margin: 0;
}

#write {
  max-width: 914px;
  font-size: 19px;
  text-align: left;
  letter-spacing: 0px;
  font-family: '霞鹜臻楷';
}


/* 段落 */
#write p {
  font-size: 19px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 30px;
  color: var(--text-color);
}


/* 标题 */
#write h1 *,
#write h2 *,
#write h3 *,
#write h4 *,
#write h5 *,
#write h6 * {
  font-family: '霞鹜臻楷';
  margin: 1em 0;
  padding: 0px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none !important;
  border-bottom: none !important;
}

#write h1 {
  /* margin: 1.2em 0; */
  font-size: 2rem;
  line-height: 48px;
  margin: 1.8rem auto 1.8rem;
  text-align: center;
  /* text-shadow: 0.12rem 0.12rem 0.3rem #C8C8C8; */
  border-bottom: 2px solid #A078FF; /* 紫色 */
}

#write h2 {
  text-align: center;
  font-size: 1.9rem;
  line-height: 46px;
  margin: 1.5em 0;
  /* text-shadow: 0.1rem 0.1rem 0.3rem #C8C8C8; */
  border-bottom: 2px solid #50A0FF; /* 蓝色 */
  /* line-height: 46px;
  border-bottom: 2px solid #78D2FA; */
}

#write h3 {
  font-size: 1.8rem;
  line-height: 42px;
  margin: 1.1em 0;
  border-bottom: 2px solid #28DCA0; /* 绿色 */
}

#write h4 {
  font-size: 1.7rem;
  line-height: 38px;
  margin: 1.1em 0;
  border-bottom: 2px solid #FF8C50; /* 橙色 */
}

#write h5 {
  font-size: 1.6rem;
  line-height: 34px;
  margin: 1.1em 0;
  border-bottom: 2px solid #FF64B4; /* 粉色 */
}

#write h6 {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 1.1em 0;
  border-bottom: 2px solid #F0C83C; /* 黄色 */
}


/* 列表 */
#write ul,
#write ol {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 40px;
  color: var(--text-color);
}
#write ul {
  list-style-type: circle;
}
#write ul ul {
  list-style-type: square;
}
#write ul ul ul {
  list-style-type: circle;
}
#write ul ul ul ul {
  list-style-type: square;
}
#write ol {
  list-style-type: decimal;
}
/* 列表内容 */
#write li section {
  font-size: 19px;
}


/* Checkboxes */
#write input[type="checkbox"] {
  margin-top: 1em;/* calc(1em - 1px) */
  margin-right: 5px;
  left: -3px;
}
#write .task-list-item input[type = "checkbox"]:checked + p {
  /* text-decoration: line-through; */
  color: #787878;
}


/* 粗体 */
#write strong {
  color: #3296F0;
  font-weight: bold;
}

/* 斜体 */
#write em {
  color: #F08228;
  font-weight: normal;
}


/* 引用 */
#write blockquote {
  font-family: "霞鹜臻楷";
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px 10px 10px 20px;
  font-size: 18px;
  line-height: 30px;
  background: #FAF6EC;
  border-left: 5px solid #FFAA1E;
  border-radius: 8px;
  color: #6A737D;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#write blockquote p {
  line-height: 30px;
}


/* 超链接 */
#write a {
  text-decoration: none;
  font-weight: normal;
  color: #32C8A0;
  border-bottom: 1px solid #32C8A0;
}


/* 分割线 */
#write hr {
  height: 2px;
  padding: 0;
  border: none;
  text-align: center;
  background-image: linear-gradient(to right, #AAF0FF, #D2C8FF);
}


/* Highlight */
#write mark {
  background-color: rgba(250,180,180,0.6);
  border-radius: 4px;
  color: var(--text-color);
  padding: 0 4px;
  margin: 0 2px;
}


/* 行内代码 */
#write code,
tt {
  font-family: "CommitMono Nerd Font", "霞鹜臻楷";
  font-size: 0.9em;
  color: #B450FF;
  background-color: rgba(210,210,200,0.8);
}

#write p code,
#write span code,
#write li code {
  word-wrap:break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 2 2px;
  word-break: break-all;
}


/* 文章插图 */
#write img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0px 4px 12px #BBBBBB;
  border: 0px;
}


/* 表格 */
#write table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
}
#write table tr:nth-child(2n) {
  background-color: #F8F6EC;
}
#write table tr th,
#write table tr td {
  font-size: 18px;
  line-height: 1.5;
  border: 1px solid #CCC;
  padding: 5px 10px;
  text-align: left;
}
#write table tr th {
  font-weight: bold;
  background-color: var(--side-bar-bg-color); /* 标题行 */
}


/* Footnotes Mark */
#write .md-footnote {
  color: #32C8A0;
  background-color: rgba(220,240,250,0.5);
}
#write .md-footnote > .md-text:before {
 content: '['
}
#write .md-footnote > .md-text:after {
 content: ']'
}

/* Footnotes Title */
span.md-def-name {
  padding-right: 3ch;
  padding-left: 1ch;
  position: relative;
  font-weight: normal;
}


/* 下角标 */
#write .md-def-name {
  padding-right: 1.8ch;
}
#write .md-def-name:before {
  content: '[';
  color: var(--text-color);
}
#write .md-def-name:after {
  color: var(--text-color);
}


/* 代码块主题 */
#write pre.md-meta-block {
  min-height: 30px;
  position: sticky;
  padding: 1.5rem;
  /* margin-top: -1.5rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#write pre.md-meta-block,
#write pre.md-fences {
  font-family: "CommitMono Nerd Font", "霞鹜臻楷";
  border-radius: 8px;
  background: var(--code-block-bg-color);
}

code, .md-fences {
  /* border: 1px solid #ccc; */
  padding: 0.5em;
  border-radius: 8px;
  margin: 2em 0;
  font-family: "CommitMono Nerd Font", "霞鹜臻楷";
  font-size: 0.9em;
}

.md-fences {
  margin: 0.2em 0;
  background-color: var(--code-block-bg-color);
  color: rgb(169,183,198);
  /* font-size: 1.2em; */
  padding: 1em;
  padding-top: 1em;
  border: none;
  text-shadow: none;
  /* box-shadow: 0px 4px 9px grey; */
}
.md-fences .code-tooltip {
  background-color: var(--code-block-bg-color);
}

.CodeMirror div.CodeMirror-cursor {
  margin-left: 0px;
  border-left: 1px solid #7BA0F0;
  z-index: 5;
}

.cm-s-inner div.CodeMirror-selected {
  background: rgba(112, 124, 180, 0.2);
}
.CodeMirror-code{
  margin-left: 0px;
}
.cm-s-inner .CodeMirror-gutters {
  background: var(--code-block-bg-color);
  border: none;
  /* border-right: 2px solid #888888; */
}

/* C++ & HTML 头文件 */
/* Java & Python 装饰器 */
.cm-s-inner .cm-meta {
  color: var(--code-yellow);
}

/* 关键字 */
.cm-s-inner .cm-keyword {
  color: var(--code-red);
}

/* 操作符 */
/* 包括加减乘除、与或、左移右移等 */
.cm-s-inner .cm-operator {
  color: var(--code-yellow);
}

/* 被声明的函数名、类名 */
/* 被调用的函数名属于 variable */
.cm-s-inner .cm-def {
  color: var(--code-blue);
}

/* 变量名，包括调用时的函数名 */
/* C++ 中的 NULL 和 Python 中的各种异常都是 variable */
.cm-s-inner .cm-variable {
  color: var(--code-norm);
}

/* 目前我知道的只有 Python 中的 self 是 */
.cm-s-inner .cm-variable-2 {
  color: var(--code-purple);
  font-style: italic;
}

/* C++、Java 中的数据类型如 void、int 等 */
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: var(--code-purple);
}

/* 内建函数 */
/* Python 中的 print、iter、next 等 */
.cm-s-inner .cm-builtin {
  color: var(--code-orange);
}

/* 数值 */
.cm-s-inner .cm-number {
  color: var(--code-purple);
}

/* 字符串 */
.cm-s-inner .cm-string {
  color: var(--code-green);
}

/* 目前只知道 JS 中反引号字符串是 */
.cm-s-inner .cm-string-2 {
  color: var(--code-orange);
}

/* 注释 */
.cm-s-inner .cm-comment {
  color: var(--code-gray);
}

/* 目前只知道 C++ 中的 true 和 false 是 */
.cm-s-inner .cm-atom {
  color: var(--code-purple);
}

/* Python 中的对象属性和方法。C++、Java 不支持 */
.cm-s-inner .cm-property {
  color: var(--code-blue);
}

/* HTML 标签 */
.cm-s-inner .cm-tag {
  color: var(--code-orange);
}

/* HTML 属性 */
.cm-s-inner .cm-attribute {
  color: var(--code-norm);
}

/* HTML 类选择器 */
.cm-s-inner .cm-qualifier {
  color: var(--code-cyan);
}

/* HTML ID 与标签选择器 */
.cm-s-inner .cm-quote {
  color: var(--code-yellow);
}

/* 语法错误 */
.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 0.8);
  background-color: #E65E7A;
}


/* 流程图 */
pre[lang='sequence'],
pre[lang='flow']
{
  background: #FFFFFF;
  color: #969696;
}

pre[lang='mermaid']
{
  background: #333333;
  color: #FFFFFF;
}


/* 侧栏 */
#typora-sidebar,
.typora-node #typora-sidebar {
    box-shadow: 3px 0px 10px rgba(150, 150, 150, 0.1);
    color: var(--text-color);
}

.sidebar-content-content {
    font-size: 1rem;
}


/* TOC */
#write .md-toc {
  background-color: var(--code-block-bg-color);
  border-radius: 20px 20px 20px 20px;
  padding: 2px 4px;
  margin: 0 2px;
}

#write a.md-toc-inner {
  line-height: 1.5;
  white-space: pre-line;
  border-bottom: none;
}

#write .md-toc-h2 .md-toc-inner {
  font-size: 1.2rem;
}

#write .md-toc-h3 .md-toc-inner {
  font-size: 1.1rem;
}

#write .md-toc-h4 .md-toc-inner {
  font-size: 1rem;
}

.md-toc-h1,
.md-toc-h5,
.md-toc-h6 {
  display: none;
}
